* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
}

.navbar {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
}

.btn {
    background-color: #1d4ed8;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-nav {
    padding: 12px 28px;
    font-size: 14px;
}

.hero-section {
    color: #ffffff;
    height: 85vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        /* ei part ta abr bujhte hobe puropuri clear na */
        url(./sources/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
}

.hero-section h1 {
    font-size: 72px;
}
.hero-section p {
    color: #ffffff;
    font-size: 18px;
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.btn-hero {
    padding: 16px 40px;
    font-size: 16px;
}
